%h3
  Hurray, we have created a profile at #{Rails.application.config_for(:settings).app_name} for you!
%p
  Please visit
  %a{href: "#{Rails.application.config_for(:settings).app_url}"}
    #{Rails.application.config_for(:settings).app_url}
  and login with your credentials:
%p
  E-Mail:   #{@user.email}
  %br
  Password: #{@user.password}
%p
  %em
    The password has been generated automatically. Please change it in your user settings
%p
  This mapping tool is under development, if you have any questions, if you found a bug or if you have any idea to improve this tool and to make more fun to use, submit an issue at
  %a{href: "https://github.com/ut/ORTE-backend/issues"}
    https://github.com/ut/ORTE-backend/issues
  %br
  Any contributions are welcome!
