= simple_form_for([@map,@layer,@place,@audio]) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
      = f.input :audioable_id, as: :hidden, input_html: { value: @place.id }
      = f.input :audioable_type, as: :hidden, input_html: { value: 'Place' }
      = f.input :locale, as: :hidden, input_html: { value: params[:locale] || I18n.locale }


  .grid-x
    .large-2.cell
      &nbsp;
    .large-8.medium-12.cell
      .form-inputs
        = f.input :title
        %hr
        .grid-x.grid-padding-x
          .large-6.medium-6.cell
            = f.input :file, as: :file, input_html: { accept: 'audio/mpeg,audio/x-m4a,audio/mp4', multiple: false }, label: "Audio (MP3 or M4A)"
            %p.shy
              Please upload only MP3 or M4A files
            - if params[:action] == 'edit' && @audio.file.attached?
              Existing audio:
              = link_to url_for(@audio.file) do
                = audio_tag url_for(@audio.file), controls: true
              %p.shy
                = @audio.file.filename.to_s

          .large-6.medium-6.cell
            .grid-x.grid-padding-x
              .large-7.medium-7.cell
                #switch.switch.inline.hide
                  %label Preview?
                  %input{:name=>"audio[preview]", :class => "switch-input", :id => "audio_preview", :type => "checkbox", :checked => @audio.preview }
                  %label.switch-paddle{:for=>"audio_preview"}
                    %span.show-for-sr
                      Preview
                    %span.switch-active{:aria-hidden=>"true"} Preview
                    %span.switch-inactive{:aria-hidden=>"true"} Preview
                %p.shy.hide Show this audio in the popup and in listings?
              .large-5.medium-5.cell
                = f.input :sorting, size: 4
                %p.shy Sorting order (1-99)


        %hr
        .grid-x.grid-padding-x
          .large-6.medium-6.cell
            = f.input :creator
            %p.shy Who is the creator of this audio?
            = f.input :licence
            %p.shy Under which licence the audio is and/or shall be published? (CC, Public Domain, Rights reserved)
            = f.input :source
            %p.shy Origin of this audio
          .large-6.medium-6.cell
            = f.input :alt, label: "Alternate Text"
            %p.shy Please provide a short description for screenreader

            = f.input :caption
            %p.shy Do you want to add a caption?


      .form-actions
        = f.button :submit, :class => "button"
    .large-2.cell
      &nbsp;
