= simple_form_for([@map,@person]) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-3.cell
      &nbsp;
    .large-6.medium-12.cell
      .form-inputs
        = f.input :name
        = f.association :map, collection:  Map.by_user(current_user).all, include_blank: true
        = f.input :info
      .form-actions
        = f.button :submit, :class => "button"
    .large-3.cell
      &nbsp;