- content_for(:title) { "People" }

#table-wrapper

  %h1 Listing people

  %p
    = link_to new_person_path, :class=>'button small' do
      %i.fi-plus.fi-24
      Add Person

  %table
    %thead
      %tr
        %th Name
        %th Info
        %th Annotations?
        %th Actions
        %th
        %th

    %tbody
      - @people.each do |person|
        %tr
          %td= person.name
          %td= person.info
          %td
            - if person.annotations.count > 0
              - person.annotations.each do |annotate|
                = annotate.id
          %td= link_to 'Show', person
          %td= link_to 'Edit', edit_person_path(person)
          %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

  %p
    = link_to new_person_path, :class=>'button small' do
      %i.fi-plus.fi-24
      Add Person

