- @layer.places.each do |place|
  - if place.relations_froms.count > 0
    %tr
      %td{colspan: 2}
        - place.relations_froms.each do |r|
          %p
            %label
              = place.title
            \⟶
            = r.relation_to.layer.title
            \:
            = link_to map_layer_place_url(r.relation_to.layer.map, r.relation_to.layer, r.relation_to) do
              = r.relation_to.title
            = link_to edit_map_relation_path(@map,r), class: "button small rounded" do
              %i.fi.fi-pencil
              Edit

%tr
  %td{colspan: 2}
    \...