= simple_form_for(@map) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-12.cell
      .form-inputs
        %p
          = f.input :title
          = f.input :subtitle
          = tinymce          
          = f.input :text, :label => 'Description', :input_html => {:rows => 8, class: 'large-text tinymce' }
        .grid-x.grid-padding-x
          .large-6.medium-6.small-6.cell
            - if admin?
              = f.association :group, collection: Group.by_user(current_user), include_blank: false
          .large-6.medium-6.small-6.cell
            %p
              = f.input :published, :label => 'Publish'
        - if admin? && params[:action] == 'edit'
          %hr
          %p
            Map extend
          .grid-x.grid-padding-x
            .large-6.medium-6.small-6.cell
              %p.hint
                The map extend defines the focus where the map is zoomed.
              %p.hint
                Per default the map zooms to an extend, so all places are visible.
                If you want to set a custom map extend, you can define it here.
            .large-6.medium-6.small-6.cell
              %p#setbound.clear
                = link_to map_path(@map, setbound: true), :class =>"button small" do
                  %strong Set custom map extend
              - if @map.northeast_corner.present?
                .grid-x.grid-padding-x1
                  .large-6.medium-6.small-12.cell
                    %p
                      = f.input :northeast_corner, :label => 'North-East'
                  .large-6.medium-6.small-12.cell
                    %p
                      = f.input :southwest_corner,  :label => 'South-West'
        %hr
        - # = f.input :script
      .form-actions
        %p
          = f.button :submit, :class => "button"

- if admin? && params[:action] == 'edit'
  - if @map.layers.count == 0
    %hr
    = link_to @map, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button warning' do
      %i.fi.fi-x
      Delete map
  %p.shy Note: Only admins can delete a map. You are an admin. But: You only can destroy this map if you've deleted all places and layers before :#
