= simple_form_for(@map) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-12.cell
      .form-inputs
        = f.input :title
        = f.input :text
        = f.input :published
        = f.association :group, collection: Group.by_user(current_user), include_blank: false
      .form-actions
        = f.button :submit, :class => "button"