#selection
  .grid-x
    - if @maps.count > 0
      .cell.medium-12
        = simple_form_for :navselector, url: '' do |f|
          .input-group
            .input-group-label
              %i.mgc_map_line
            = f.input :id, :collection => @maps.map { |m| ["#{m.title}", "/maps/#{m.id}", :class => "map-#{m.id} input-group-field"] }, :label => false, :selected => @map, :include_blank => 'Select a map...', input_html: {:class => 'nav-selector'}
            .input-group-button
              = link_to new_map_path, :class => 'button secondary', :id => 'new_map_button', :title => 'Create a new map' do
                %i.fi-plus.fi-24

    - else
      .cell.medium-12
        = link_to new_map_path, :class => 'button action', :id => 'new_map_button', :title => 'Create a new map' do
          %i.fi-plus.fi-24
          Add a map



- if !current_user.group.active
  %script
    $(document).ready(function(){
    $('#group-message-modal').foundation('open');
    })
  .reveal#group-message-modal{"data-reveal"=>true,"data-close-on-esc"=>"false", "data-close-on-click"=>"false", "data-full-screen"=>"false"}
    %h3
      %i.fi-prohibited.fi-24
      Oups
    %p We are terribly sorry!. The user group <em>#{current_user.group.title}</em> is not active (anymore).
    %hr
    - if current_user.group.message
      =h current_user.group.message.html_safe
    - else
      Please contact the administrators of this installation.
    %p
      = link_to destroy_user_session_path, method: :delete, :id => 'logout', :title => "#{t('.sign_out')}", :class=>'button logout' do
        %i.fi-power.fi-21
        Logout
