- content_for(:title) { @map.title }

#timeline-info{:style => "background-color: #fff; padding:10px; margin-bottom: 10px;"}
  Timeline setup 
  %br
  #{@places.count} places in #{@map_layers.count} layers, #{@places_with_dates.count} #{@places_with_dates.count > 1 ? 'places' : 'place'} with dates
  %br
  Timerange: 
  #{@minyear}
  \—
  #{@maxyear}             
  (#{@timespan} Years)
  %br
  - if @map.marker_display_mode == 'single'
    Marker display mode is set to single ✓
  %br
  TODO: generate timeline 
  %br
  TODO: set filter active
  %br
  %span#timeline-info-status
#selection{:data => { 'url' => "/maps/#{@map.id}.json", 'map_id' => "#{@map.id}", 'map-center-lat' => "#{@map.mapcenter_lat}", 'map-center-lon' => "#{@map.mapcenter_lon}", 'map-zoom' => "#{@map.zoom}", 'map-extent-northeast' => "#{@map.northeast_corner}", 'map-extent-southwest' => "#{@map.southwest_corner}", 'map-basemap-url' => "#{@map.basemap_url}", 'map-basemap-attribution' => "#{@map.basemap_attribution}", 'map-background-color' => "#{@map.background_color}", 'map-popup-display-mode' => "#{@map.popup_display_mode}", 'map-marker_display_mode' => "#{@map.marker_display_mode}", 'map-enable_historical_maps' => "#{@map.enable_historical_maps}", 'map-timeline-minyear' => "#{@minyear}", 'map-timeline-maxyear' => "#{@maxyear}", 'map-timeline-timespan' => "#{@timespan}" }}
  - if params[:setbound]
    #form-wrapper.small-wrapper
      .grid-x
        .cell.medium-12
          %p Set custom extend
          %p.hint
            Adjust the extend of your map by clicking and draging the corners of the rectangle. Then click the set button.
            %br
          = link_to edit_map_path(@map, :northeast => '', :southwest => ''), :class => 'button secondary', :id => 'setbound'  do
            Set extend
  - else
    .grid-x
      .cell.medium-12
        = simple_form_for :navselector, url: '' do |f|
          .input-group
            .input-group-label
              = link_to map_path(@map) do
                <svg version="1.1" id="icons-map" class="icons" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><path d="M54.4,21.3c-0.1-0.6-0.4-1.1-0.9-1.3l-13.6-6.7c0,0,0,0,0,0c-0.1-0.1-0.2-0.1-0.4-0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.4,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0l-13.8,6l-12.3-6.4c-0.5-0.3-1.2-0.2-1.7,0.1c-0.5,0.4-0.8,1-0.7,1.6l3.5,32.3c0.1,0.6,0.4,1,0.9,1.3L27.2,55c0,0,0,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0l0,0c0,0,0,0,0.1,0l13.7-6.1l13.2,6.4c0.3,0.1,0.5,0.2,0.8,0.2c0.3,0,0.6-0.1,0.9-0.3c0.5-0.4,0.7-0.9,0.7-1.6L54.4,21.3z M16.8,45.5l-3.1-28.3l9.4,4.9L26,50.5L16.8,45.5z M29.3,51l-2.9-28.8l11.3-5L40.7,46L29.3,51z M44,45.9l-2.9-28.4l10.1,5L54.3,51L44,45.9z"/></svg>
            - icon = '<i class="fi-lock fi-24">'
            - # #{m.published ? '' : icon}
            = f.input :id, :collection => @maps.map { |m| ["#{m.title}", "/maps/#{m.id}", :class => "map-#{m.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}", :include_blank => false, input_html: {:class => 'nav-selector'}
            .input-group-button
              = link_to edit_map_path(@map), :class => 'button secondary' do
                %i.fi-pencil.fi-24
    .grid-x
      .cell.medium-12
        - if @map_layers.count > 0
          = simple_form_for :layer, url: '' do |f|
            .input-group
              .input-group-label
                = link_to map_layers_path(@map), :title => "Show all layers of this map"  do
                  <svg version="1.1" id="icons-layers" class="icons" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><g><path d="M66.4,25.4c-0.1-0.6-0.5-1-1-1.3L35.8,11.8c-0.6-0.2-1.2-0.2-1.7,0.2l-5.5,4.3L23,13.9c-0.6-0.2-1.2-0.2-1.7,0.2L2.3,29c-0.5,0.4-0.7,1-0.6,1.5c0.1,0.6,0.5,1.1,1,1.3L14.5,37l-3.6,2.8c-0.5,0.4-0.7,1-0.6,1.5c0.1,0.6,0.5,1.1,1,1.3l31.6,13.7c0.2,0.1,0.4,0.1,0.7,0.1c0.4,0,0.8-0.2,1.2-0.5l17-16.1c0.4-0.4,0.6-1,0.5-1.5c-0.1-0.6-0.5-1-1-1.3L57,35.3l8.9-8.4C66.3,26.6,66.5,26,66.4,25.4z M6.6,29.9l16.1-12.4l2.9,1.2L15,26.8c-0.5,0.4-0.7,1-0.6,1.5c0.1,0.6,0.5,1.1,1,1.3l5.5,2.4l1.8,0.8l1.8,0.8l13.1,5.6L34.6,42l-13.5-5.8l-1.8-0.8l-1.8-0.8L6.6,29.9z M57.6,39.3L43.2,52.8l-28-12.1l2.8-2.2l16.2,7c0.2,0.1,0.4,0.1,0.7,0.1c0.4,0,0.8-0.2,1.2-0.5l4.8-4.5l6.1,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.4,0,0.8-0.2,1.2-0.5l5.4-5.1L57.6,39.3z M53.6,33.9l-1.3,1.3l-1.3,1.3l-3.5,3.3l-3.8-1.6l-1.7-0.7l-1.7-0.7l-12.7-5.5l-1.8-0.8l-1.8-0.8l-4.6-2l9.8-7.6l1.5-1.2l1.5-1.2l3.2-2.5l26.3,11L53.6,33.9z"/></g></svg>
              = f.input "id", :collection => @map_layers.map { |l| ["#{l.title} (#{l.places.count})", "/maps/#{@map.id}/layers/#{l.id}", :class => "layer-#{l.id} input-group-field"] }, :label => false, :include_blank => 'Select a layer...', input_html: {:class => 'nav-selector'}
              .input-group-button
                = link_to new_map_layer_path(@map), :class => 'button secondary', :title => 'Create new layer' do
                  %i.fi-plus.fi-24
        - else
          = link_to new_map_layer_path(@map), :class => 'button info' do
            %i.fi-plus
            Create a layer for this map
        %p#selection-hint




