
#info-wrapper
  %h1 #{Settings.app_name}
  %h3 #{Settings.app_fullname}
  %p
    About this application:
    = link_to 'https://github.com/ut/ORTE-backend' do
      ORTE Backend at GitHub
  %p
    - if current_user
      = link_to maps_path, :class => 'button' do
        Maps
    - else
      = link_to 'users/sign_in', :class => 'button'  do
        Sign in

