- content_for(:title) { "Settings" }

#info-wrapper
  %p.text-right.close_link_wrapper
    =link_to maps_path, :class=>'close_link' do
      %i.fi.fi-x
  .grid-x
    .large-12.medium-12.cell
      %h1 Settings
      %p
        Hello,
        = @user.email

      %p.small.shy
        Your group:
        %i.fi-torsos-all.fi-21
        = @user.group.title
        %br
        Last login:
        = l(@user.last_sign_in_at)
        \|
        = link_to destroy_user_session_path, method: :delete, :id => 'logout', :title => "#{t('.sign_out')}", :class=>'logout' do
          Logout
      %hr
      %ul.menu
        - if user_signed_in?
          %li
            %a{:href => edit_profile_path, :title => 'Settings'}
              %i.fi-torso.fi-21
              Edit your profile
        %li
          = link_to info_path, {title: 'About this project'} do
            %i.fi-info.fi-21
            About ORTE
      %hr
      %ul.menu
        - if user_signed_in?
          %li
            %a{:href => maps_path, :title => 'Maps'}
              %i.mgc_map_line
              Maps (#{@maps.count})
          %li
            %a{:href => iconsets_path, :title => 'Icon sets'}
              %i.fi-marker.fi-21
              Icon sets (#{Iconset.all.count})
      - if admin?
        %hr
        %ul.menu
          %li
            %a{:href => admin_users_path, :title => 'Manage users'}
              %i.fi-torsos.fi-21
              Users (#{@users.count})
          %li
            %a{:href => admin_groups_path, :title => 'Manage groups'}
              %i.fi-torsos-all.fi-21
              Usergroups
              (#{@groups.count})