%h1 Listing groups

%table
  %thead
    %tr
      %th Title
      %th User
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.title
        %td= group.user
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Group', new_group_path
