= simple_form_for(@iconset) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
      %p Here you can defined a set if icons, that can be used as markers on the map
      %p Icons can be PNG or SVG files.
  .grid-x.grid-padding-x
    .large-4.medium-12.cell
      .form-inputs
        %h5 Iconset

        = f.input :title
        = f.input :text
        = f.input :file
        - if @iconset.file.attached?
          %p
            %b Image:
            = link_to url_for(@iconset.file) do
              = image_tag url_for(@iconset.file)
        %hr
        %p TODO: Default height/width and offset.
    .large-8.medium-12.cell
      .form-inputs
        %h5 Icons
        = @iconset.icons.count
        = f.fields_for :icons do |i|
          .grid-x.grid-padding-x
            .large-5.medium-6.cell
              = i.input :title, label: "Name/Category"
            .large-7.medium-6.cell
              - if i.object.file.attached?
                = link_to url_for(i.object.file) do
                  = image_tag i.object.file.variant(resize: "60x60").processed, class: "thumbnail"
              = i.input :file
          %hr

  .grid-x
    .large-12.cell
      %hr
      .form-actions
        = f.button :submit, :class => "button"