- content_for(:title) { "Iconsets" }

#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to settings_path, :class=>'close_link' do
      %i.fi.fi-x
  %p.small
    %a{:href => settings_path, :title => 'Settings'}
      %i.fi-widget.fi-21
      Settings

  %h1 Icon sets

  %table
    %tbody
      - @iconsets.each do |iconset|
        %tr
          %td
            %h4
              = link_to iconset_path(iconset) do
                = iconset.title
            - if iconset.text.present?
              %p= iconset.text
            - if iconset.icons.count > 0
              with #{iconset.icons.count} Icon(s)

            - if iconset.maps.count > 0
              This set is used at
              - iconset.maps.each do |m|
                = link_to map_path(m) do
                  = m.title
          %td
            - if iconset.file.attached?
              = link_to url_for(iconset.file) do
                = image_tag url_for(iconset.file)

          %td
            = link_to edit_iconset_path(iconset), :class => 'button' do
              %i.fi.fi-pencil
              Edit
        %tr
          %td{colspan: 3}
            - if iconset.icons.count > 0
              - iconset.icons.each do |icon|
                - if icon.file.attached?
                  = image_tag icon.file.variant(resize: "60x60").processed, class: "thumbnail"
  %p
    = link_to new_iconset_path, :class=>'button' do
      %i.fi-plus.fi-24
      New Iconset
