- content_for(:title) { "Page: #{@page.title} (Edit)" }
- current_locale = I18n.locale || I18n.default_locale
- pageable = @page.pageable

#form-wrapper
  %p.text-right.close_link_wrapper
    = link_to polymorphic_path(pageable, locale: current_locale), :class=>'close_link' do
      %i.fi.fi-x
  %p
    = pageable.class.to_s
    = ":"
    = link_to polymorphic_path(pageable, locale: current_locale) do
      = pageable.title
    > Page:
    = link_to polymorphic_path([pageable, @page], locale: current_locale) do
      = @page.title
    - if @translation_missing_for_locale
      .callout.notice
        %strong Translation missing:
        = " This page has no translation into #{t("languages.#{current_locale}")}  yet. Saving will create it."    
  .grid-x.grid-padding-x
    .large-6.medium-6.small-6.cell
      %h1
        =@page.title
    .large-6.medium-6.small-6.cell
      - if @page && @page.updated_at
        %p.hint
          %b Last edit:
          = l(@page.updated_at)
          %br
          %b Language:
          = I18n.t("languages.#{I18n.locale}", locale: 'en')

  = render 'pages/partials/form'
  = link_to 'View Page', polymorphic_path([pageable, @page], locale: current_locale), :class => 'button secondary'
