- content_for(:title) { "Pages of #{@map.title}" }

#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to map_path(@map), :class=>'close_link' do
      %i.fi.fi-x
  %h1
    Map:
    = link_to map_path(@map) do
      = @map.title
    = link_to edit_map_path(@map) do
      %i.fi-pencil.fi-24


  .grid-x.grid-padding-x
    .cell.medium-7
      %p.text-right.hint

        = link_to map_layers_path(@map) do
          Layers of this map
          (#{@map.layers.size})

    .cell.medium-5
      %p.text-right.hint
        = link_to map_people_path(@map) do
          Persons of this map
          (#{@map.people.size})
      %p.text-right.hint
        = link_to map_relations_path(@map) do
          Relations in this map
        %hr

  %table
    %thead
      %tr
        %th Page
        %th.show-for-medium
          \&nbsp;
        %th

    %tbody
      - @pages.each do |page|
        %tr
          %td
            %h4
              = link_to map_page_url(page.map,page) do
                = page.title
              - if page.published
                %i.fi-eye.fi-24{title: 'Page is published'}
              - else
                %i.fi-lock.fi-21{title: 'Page is hidden'}
            - if page.subtitle.present?
              %p= page.subtitle
          %td.show-for-medium
            - if page.images.count > 0
              - page.images.each do |i|
                - if i.attached? && ActiveStorage::Blob.service.exist?(i.blob.key)
                  = link_to url_for(i) do
                    = image_tag i.variant(resize: "120x120").processed, class: "thumbnail", title: i.title
          %td
            = link_to edit_map_page_path(@map, page), :class=>"button" do
              %i.fi-pencil.fi-24
            &nbsp;
            = link_to map_page_path(@map, page), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button alert" do
              %i.fi-trash.fi-24

  .grid-x.grid-padding-x
    .cell.medium-12
      %p
        = link_to new_map_page_path(@map), :class=>'button small' do
          %i.fi-plus.fi-18
          New Page
      %p.shy Create a page for this map

