
- current_locale = @locale || I18n.locale || I18n.default_locale
- pageable = @page.pageable || @pageable || @map || @place
- if pageable
  - if @page.new_record?
    - if pageable.is_a?(Map)
      - page_url = map_pages_path(pageable, locale: current_locale)
    - else
      - page_url = place_pages_path(pageable, locale: current_locale)
  - else
    - page_url = polymorphic_path([pageable, @page], locale: current_locale)
- else
  - page_url = '#'
= simple_form_for(@page, url: page_url) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-12.medium-12.cell
      .form-inputs
        .grid-x.grid-padding-x
          .large-8.medium-7.small-6.cell
            = f.input :title
            = f.input :subtitle
          .large-4.medium-5.small-6.cell
            %p
              = f.input :published, :label => 'Publish <i class="fi-eye fi-21"></i>'.html_safe
            %p
              - if admin? && params[:action] == 'edit'
                - if pageable.is_a?(Map)
                  = f.input :pageable_id, as: :select, collection: Map.by_user(current_user).map { |m| [m.title, m.id] }, include_blank: false, :label => 'Map'
                  = f.input :pageable_type, as: :hidden, :input_html => { :value => 'Map' }
                - elsif pageable.is_a?(Place)
                  = f.input :pageable_id, as: :select, collection: Place.all.map { |p| [p.title, p.id] }, include_blank: false, :label => 'Place'
                  = f.input :pageable_type, as: :hidden, :input_html => { :value => 'Place' }
              - else
                = pageable.class.to_s
                = ":"
                = link_to pageable.title, polymorphic_path(pageable, locale: current_locale)
                = f.input :pageable_id, as: :hidden, :input_html => { :value => pageable.id }
                = f.input :pageable_type, as: :hidden, :input_html => { :value => pageable.class.to_s }
        .grid-x.grid-padding-x
          .large-12.medium-12.small-12.cell
            = tinymce
            = f.input :teaser, :label => 'Teaser', :input_html => {:rows => 4, class: 'large-text tinymce' }
            = f.input :text, :label => 'Description', :input_html => {:rows => 24, class: 'large-text tinymce' }
            = f.input :footer, :label => 'Footer', :input_html => {:rows => 8, class: 'large-text tinymce' }        
        .grid-x.grid-padding-x
          .large-12.medium-12.small-12.cell
            %hr
            %h5 Images
            - if params[:action] == 'edit'
              - if pageable.is_a?(Map)
                = link_to new_map_page_image_path(pageable, @page, locale: current_locale), class: 'button' do
                  %i.fi.fi-plus
                  Add image
              - elsif pageable.is_a?(Place)
                = link_to new_place_page_image_path(pageable, @page, locale: current_locale), class: 'button' do
                  %i.fi.fi-plus
                  Add image
              %p.hint
                Please upload one image and describe its content and metadata. You can repeat this to add multiple images to this place.
            - else
              %p.hint.text-left
                You have to save this place, before you can add images
              
            = render '/pages/partials/images'
            %hr
            - if params[:action] == 'edit'
              %label Videos
              - if pageable.is_a?(Map)
                = link_to new_map_page_video_path(pageable, @page, locale: current_locale), class: 'button' do
                  %i.fi.fi-plus
                  Add video
              - elsif pageable.is_a?(Place)
                = link_to new_place_page_video_path(pageable, @page, locale: current_locale), class: 'button' do
                  %i.fi.fi-plus
                  Add video
              %p.hint
                Please upload one video and describe its content and metadata. You can repeat this to add multiple videos to this place.
            - # = render 'places/form/videos'
        

        %hr
      .form-actions
        - if @translation_missing_for_locale
          - submit_label = "Create translation into #{t("languages.#{current_locale}")} "
        - else
          - submit_label = "Save changes"
        %p
          = f.button :submit, submit_label,:class => "button"
