- content_for(:title) { "#{@tag.name}" }


#table-wrapper
  %h3
    = link_to map_path(@map) do
      = @map.title
    \:
    = link_to map_tags_path(@map) do
      = @tag.name

  %p.hint.text-left
    #{@map.places.tagged_with(["#{@tag.name}"]).count} place(s) tagged with #{@tag.name}
  %hr
  %div
    - @map.places.tagged_with(["#{@tag.name}"]).each do |place|
      %div.cards
        - if place.startdate.present?
          %p
            = smart_date_display(place.startdate, place.enddate)
        %h5
          = link_to map_layer_place_path(@map,place.layer,place) do
            = place.title
        %p.small
          = link_to map_layer_path(@map,place.layer) do
            = place.layer.title
        - if place.tag_list
          %p
            - place.tags.each do |tag|
              %span.label.secondary.tag
                %i.fi-price-tag
                = link_to map_tag_path(@map,tag) do
                  = tag
  %hr
  %p
    = link_to map_tags_path(@map), class: "button small" do
      %i.fi-pricetag-multiple
      List of all tags
    &nbsp;
    = link_to map_layers_path(@map), class: "button small" do
      List of all layers



