- content_for(:title) { "#{@layer.title} (Edit)" }

#form-wrapper
  %p.text-right.close_link_wrapper
    = link_to map_layers_path(@map), :class=>'close_link' do
      %i.fi.fi-x
  %p
    Map:
    = link_to map_layers_path(@map) do
      = @map.title

  %h1
    =@layer.title
    (#{@layer.places.count})
  = render 'form'
  = link_to 'View Layer', [@map, @layer], :class => 'button secondary'
