
#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to map_path(@map), :class=>'close_link' do
      \&times;
  %h1
    Map:
    = link_to map_path(@map) do
      = @map.title

  - if @map.places.all_tags
    %div.tags
      - @map.places.all_tags.each do |tag|
        - if @map.places.tagged_with(["#{tag.name}"]).count > 1
          %span.label.secondary.tag
            = link_to map_tag_path(@map,tag) do
              %i.fi-price-tag
              = tag.name
              (#{@map.places.tagged_with(["#{tag.name}"]).count})

    %p
      = link_to map_tags_path(@map), :class => "button small" do
        %i.fi-pricetag-multiple
        List of all tags

  %table
    %thead
      %tr
        %th Layer
        %th.show-for-medium Marker
        %th.show-for-medium
          %i.fi-eye.fi-24
        %th

    %tbody
      - @layers.each do |layer|
        %tr
          %td
            %h4
              = link_to map_layer_url(layer.map,layer) do
                = layer.title
                (#{layer.places.count})
            - if layer.subtitle.present?
              %p= layer.subtitle
            %p.show-for-small-only
              - if layer.color.present?
                %svg{height:30,width:30,version:"1.1",xmlns:"http://www.w3.org/2000/svg"}
                  %circle{cx:"15",cy:"15",r:"15",fill:"#{layer.color}"}
              %span.icons{:style=>"height: 40px; vertical-align: middle;"}
          %td.show-for-medium
            - if layer.color.present?
              %svg{height:30,width:30,version:"1.1",xmlns:"http://www.w3.org/2000/svg"}
                %circle{cx:"15",cy:"15",r:"15",fill:"#{layer.color}"}
            %span.icons{:style=>"height: 40px; vertical-align: middle;"}
          %td.show-for-medium
            - if layer.published
              %i.fi-check.fi-24
            - else
              %i.fi-x.fi-24
          %td
            = link_to edit_map_layer_path(@map, layer), :class=>"button" do
              %i.fi-pencil.fi-24


  %p

    = link_to new_map_layer_path(@map), :class=>'button' do
      %i.fi-plus.fi-24
      New Layer
