
#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to map_path(@map), :class=>'close_link' do
      \&times;
  %h1
    = link_to map_path(@map) do
      = @map.title


  %table
    %thead
      %tr
        %th Layer
        %th
        %th
        %th

    %tbody
      - @layers.each do |layer|
        %tr
          %td
            %h4
              = link_to map_layer_url(layer.map,layer) do
                = layer.title
                (#{layer.places.count})
            - if layer.text.present?
              %p= layer.text
          %td
            - if layer.color.present?
              %svg{height:40,width:40,version:"1.1",xmlns:"http://www.w3.org/2000/svg"}
                %circle{cx:"20",cy:"20",r:"20",fill:"##{layer.color}"}
            %span.icons{:style=>"height: 40px; vertical-align: middle;"}
          %td
            - if layer.published
              %i.fi-eye.fi-24
              Published
            - else
              %i.fi-x.fi-24
              Hidden
          %td
            = link_to edit_map_layer_path(@map, layer), :class=>"button" do
              %i.fi-pencil.fi-24


  %p

    = link_to new_map_layer_path(@map), :class=>'button' do
      %i.fi-plus.fi-24
      New Layer