- content_for(:title) { "Layers of #{@map.title}" }

#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to map_path(@map), :class=>'close_link' do
      %i.fi.fi-x
  %h1
    Map:
    = link_to map_path(@map) do
      = @map.title
    = link_to edit_map_path(@map) do
      %i.fi-pencil.fi-24

  - if @map.places.all_tags
    %div.tags
      - @map.places.all_tags.each do |tag|
        - if @map.places.tagged_with(["#{tag.name}"]).count > 1
          %span.label.secondary.tag
            = link_to map_tag_path(@map,tag) do
              %i.fi-price-tag
              = tag.name
              (#{@map.places.tagged_with(["#{tag.name}"]).count})

  .grid-x.grid-padding-x
    .cell.medium-3
      - if @map.places.all_tags
        %p
          = link_to map_tags_path(@map), :class => "button small" do
            %i.fi-pricetag-multiple
            List of all tags
    .cell.medium-6
      = render 'searchform', object: @map
    .cell.medium-3
      %p.text-right.hint
        = link_to map_people_path(@map) do
          Persons of this map
      %p.text-right.hint
        = link_to map_relations_path(@map) do
          Relations in this map

  %table
    %thead
      %tr
        %th Layer
        %th.show-for-medium
          \&nbsp;
        %th

    %tbody
      - @layers.each do |layer|
        %tr
          %td
            %h4
              %span.show-for-medium
                - if layer.color.present?
                  %svg{height:30,width:30,version:"1.1",xmlns:"http://www.w3.org/2000/svg"}
                    %circle{cx:"15",cy:"15",r:"15",fill:"#{layer.color}"}
              = link_to map_layer_url(layer.map,layer) do
                = layer.title
                (#{layer.places.count})
              - if layer.published
                %i.fi-eye.fi-24{title: 'Layer is published'}
              - else
                %i.fi-x.fi-24{title: 'Layer is hidden'}
              - if layer.public_submission
                %i.fi-web.fi-24{title: 'Submissions form enabled'}
            - if layer.subtitle.present?
              %p= layer.subtitle
            %p.show-for-small-only
              - if layer.color.present?
                %svg{height:30,width:30,version:"1.1",xmlns:"http://www.w3.org/2000/svg"}
                  %circle{cx:"15",cy:"15",r:"15",fill:"#{layer.color}"}
              %span.icons{:style=>"height: 40px; vertical-align: middle;"}
          %td.show-for-medium
            - if layer.image && layer.image.attached? && ActiveStorage::Blob.service.exist?(layer.image.blob.key)
              = link_to url_for(layer.image) do
                = image_tag layer.image.variant(resize: "120x120").processed, class: "thumbnail", title: layer.title
          %td
            = link_to edit_map_layer_path(@map, layer), :class=>"button" do
              %i.fi-pencil.fi-24
            &nbsp;
            - if layer.places.count == 0 
              = link_to map_layer_path(@map, layer), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button alert" do
                %i.fi-trash.fi-24

  .grid-x.grid-padding-x
    .cell.medium-3
      %p
        = link_to new_map_layer_path(@map), :class=>'button small' do
          %i.fi-plus.fi-18
          New Standard Layer
      %p.shy Create a typical layer with places and various content for this map
    .cell.medium-3 
      %p         
        = link_to new_map_layer_path(@map, :ltype => 'image'), :class=>'button small' do
          %i.fi-plus.fi-18
          New Image Layer
      %p.shy Import a batch of images and create a new layer
