- content_for(:title) { "Relations for #{@map.title} > #{@layer.title}" }

#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to map_path(@map), :class=>'close_link', "aria-label"=>"Close back" do
      %span{"aria-hidden"=>"true"}
        %i.fi.fi-x
  %h1
    = link_to map_path(@map) do
      = @map.title
    —
    = link_to map_layer_path(@layer.map,@layer) do
      = @layer.title
  %h4 Relations
  %p.text-right.hint
    %br
    See also
    = link_to map_layer_places_path(@map,@layer) do
      Places
    of this layer
  %hr
  %p.text-right
    = link_to new_map_relation_path(@map, layer_id: @layer.id), class: "button small" do
      %i.fi-plus.fi-18
      New Relation
  %table
    %tbody
      = render 'relations/list_as_table'

  %p.text-right
    = link_to new_map_relation_path(@map, layer_id: @layer.id), class: "button small" do
      %i.fi-plus.fi-18
      New Relation
