- content_for(:title) { @layer.title }

- if @map.script && @map.script.present?
  :javascript
    $(document).on('turbolinks:load', function() {
        #{h(@map.script)}
    });


#selection{:data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}.json", 'map_id' => "#{@map.id}", 'layer_id' => "#{@layer.id}", 'map-mapcenter-lat' => "#{@map.mapcenter_lat}", 'map-mapcenter-lon' => "#{@map.mapcenter_lon}", 'map-map-zoom' => "#{@map.zoom}", 'layer-mapcenter-lat' => "#{@layer.mapcenter_lat}", 'layer-mapcenter-lon' => "#{@layer.mapcenter_lon}", 'layer-map-zoom' => "#{@layer.zoom}", 'map-extent-northeast' => "#{@map.northeast_corner}", 'map-extent-southwest' => "#{@map.southwest_corner}", 'map-basemap-url' => "#{@layer.basemap_url}", 'map-basemap-attribution' => "#{@layer.basemap_attribution}", 'map-popup_display_mode' => "#{@map.popup_display_mode}", 'map-marker_display_mode' => "#{@map.marker_display_mode}", 'place_id' => "#{@place ? @place.id : ''}"  }}
  .grid-x
    .cell.medium-12
      =simple_form_for :navselector, url: '/maps/', html: { method: :get }  do |f|
        .input-group
          .input-group-label
            =link_to map_path(@map) do
              %i.mgc_map_line
          = f.input :id, :collection => @maps.map { |m| ["#{m.title}", "/maps/#{m.id}", :class => "map-#{m.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}", :include_blank => false, input_html: {:class => 'nav-selector'}
          .input-group-button.hide
            =link_to edit_map_path(@map), :class => 'button secondary', :title => 'Edit map' do
              %i.fi-pencil.fi-24

  .grid-x
    .cell.medium-12
      - if @map_layers.count > 0
        .input-group
          .input-group-label
            =link_to map_layers_path(@map), :title => "Show all layers of this map" do
              %i.mgc_copy_2_line
          =simple_form_for :navselector, url: '', html: { method: :get }  do |f|
            = f.input :id, :collection => @map_layers.map { |l| ["#{l.title} (#{l.places.count})", "/maps/#{@map.id}/layers/#{l.id}", :class => "layer-#{l.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}/layers/#{@layer.id}", :include_blank => 'All layers', input_html: {:class => 'nav-selector', :data => { :map => @map.id}}

          .input-group-button
            = link_to edit_map_layer_path(@map,@layer), :class => 'button secondary', :title => 'Edit this layer' do
              %i.fi-pencil.fi-24
      - else
        = link_to new_map_layer_path(@map), :class => 'button info' do
          %i.fi-plus
          Create a layer for this map


  .grid-x
    .cell.medium-12
      = simple_form_for :addresslookup, url: '', html: { method: :get, :id => 'addresslookup' } do |f|
        .input-group
          .input-group-label
            = link_to map_layer_places_path(@map,@layer), :title => "Show all places for this layer" do
              %i.mgc_location_line

          = f.input :address, :label => false, :placeholder => 'Add place: Name, Street + Number...', input_html: {:class => "address-lookup-field input-group-field", :data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}" }}
          .input-group-button
            %button{:id => 'addresslookup_button', :class => 'button secondary', :title => 'Lookup for address'}
              %i.fi-magnifying-glass.fi-24
              %i.fi-fast-forward.fi-24.hide

      - if params[:remap]
        %div#selection-hint
          %p
            Type an address or double-click on the map to change the location of
            =link_to edit_map_layer_place_path(@map,@layer,@place) do
              #{@place.title}


      - else
        #selection-hint
          %p
            How to map: Search an address with the field above or double-click anywhere on the map to create a place.


