- content_for(:title) { @layer.title }

- if @map.script && @map.script.present?
  :javascript
    $(document).on('turbolinks:load', function() {
        #{h(@map.script)}
    });


#selection{:data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}.json?filter=#{params[:filter]}&search=#{@search}", 'map_id' => "#{@map.id}", 'layer_id' => "#{@layer.id}", 'map-mapcenter-lat' => "#{@map.mapcenter_lat}", 'map-mapcenter-lon' => "#{@map.mapcenter_lon}", 'map-map-zoom' => "#{@map.zoom}", 'layer-color' => "##{@layer.color}", 'layer-mapcenter-lat' => "#{@layer.mapcenter_lat}", 'layer-mapcenter-lon' => "#{@layer.mapcenter_lon}", 'layer-map-zoom' => "#{@layer.zoom}", 'map-extent-northeast' => "#{@map.northeast_corner}", 'map-extent-southwest' => "#{@map.southwest_corner}", 'map-basemap-url' => "#{@layer.basemap_url}", 'map-basemap-attribution' => "#{@layer.basemap_attribution}", 'map-popup_display_mode' => "#{@map.popup_display_mode}", 'map-marker_display_mode' => "#{@map.marker_display_mode}", 'map-enable_historical_maps' => "#{@map.enable_historical_maps}", 'place_id' => "#{@place ? @place.id : ''}",  'ltype' => "#{@layer.ltype}" }}
  .grid-x
    .cell.medium-12
      =simple_form_for :navselector, url: '/maps/', html: { method: :get }  do |f|
        .input-group
          .input-group-label
            =link_to map_path(@map) do
              <svg version="1.1" id="icons-map" class="icons" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><path d="M54.4,21.3c-0.1-0.6-0.4-1.1-0.9-1.3l-13.6-6.7c0,0,0,0,0,0c-0.1-0.1-0.2-0.1-0.4-0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.4,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0l-13.8,6l-12.3-6.4c-0.5-0.3-1.2-0.2-1.7,0.1c-0.5,0.4-0.8,1-0.7,1.6l3.5,32.3c0.1,0.6,0.4,1,0.9,1.3L27.2,55c0,0,0,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0l0,0c0,0,0,0,0.1,0l13.7-6.1l13.2,6.4c0.3,0.1,0.5,0.2,0.8,0.2c0.3,0,0.6-0.1,0.9-0.3c0.5-0.4,0.7-0.9,0.7-1.6L54.4,21.3z M16.8,45.5l-3.1-28.3l9.4,4.9L26,50.5L16.8,45.5z M29.3,51l-2.9-28.8l11.3-5L40.7,46L29.3,51z M44,45.9l-2.9-28.4l10.1,5L54.3,51L44,45.9z"/></svg>
          = f.input :id, :collection => @maps.map { |m| ["#{m.title}", "/maps/#{m.id}", :class => "map-#{m.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}", :include_blank => false, input_html: {:class => 'nav-selector'}
          .input-group-button.hide
            =link_to edit_map_path(@map), :class => 'button secondary', :title => 'Edit map' do
              %i.fi-pencil.fi-24

  .grid-x
    .cell.medium-12
      - if @map_layers.count > 0
        .input-group
          .input-group-label
            =link_to map_layers_path(@map), :title => "Show all layers of this map" do
              <svg version="1.1" id="icons-layers" class="icons" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><g><path d="M66.4,25.4c-0.1-0.6-0.5-1-1-1.3L35.8,11.8c-0.6-0.2-1.2-0.2-1.7,0.2l-5.5,4.3L23,13.9c-0.6-0.2-1.2-0.2-1.7,0.2L2.3,29c-0.5,0.4-0.7,1-0.6,1.5c0.1,0.6,0.5,1.1,1,1.3L14.5,37l-3.6,2.8c-0.5,0.4-0.7,1-0.6,1.5c0.1,0.6,0.5,1.1,1,1.3l31.6,13.7c0.2,0.1,0.4,0.1,0.7,0.1c0.4,0,0.8-0.2,1.2-0.5l17-16.1c0.4-0.4,0.6-1,0.5-1.5c-0.1-0.6-0.5-1-1-1.3L57,35.3l8.9-8.4C66.3,26.6,66.5,26,66.4,25.4z M6.6,29.9l16.1-12.4l2.9,1.2L15,26.8c-0.5,0.4-0.7,1-0.6,1.5c0.1,0.6,0.5,1.1,1,1.3l5.5,2.4l1.8,0.8l1.8,0.8l13.1,5.6L34.6,42l-13.5-5.8l-1.8-0.8l-1.8-0.8L6.6,29.9z M57.6,39.3L43.2,52.8l-28-12.1l2.8-2.2l16.2,7c0.2,0.1,0.4,0.1,0.7,0.1c0.4,0,0.8-0.2,1.2-0.5l4.8-4.5l6.1,2.7c0.2,0.1,0.4,0.1,0.7,0.1c0.4,0,0.8-0.2,1.2-0.5l5.4-5.1L57.6,39.3z M53.6,33.9l-1.3,1.3l-1.3,1.3l-3.5,3.3l-3.8-1.6l-1.7-0.7l-1.7-0.7l-12.7-5.5l-1.8-0.8l-1.8-0.8l-4.6-2l9.8-7.6l1.5-1.2l1.5-1.2l3.2-2.5l26.3,11L53.6,33.9z"/></g></svg>

          =simple_form_for :navselector, url: '', html: { method: :get }  do |f|
            = f.input :id, :collection => @map_layers.map { |l| ["#{l.title} (#{l.ltype == 'geojson' ? 'GeoJSON' : l.places.count})", "/maps/#{@map.id}/layers/#{l.id}", :class => "layer-#{l.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}/layers/#{@layer.id}", :include_blank => 'All layers', input_html: {:class => 'nav-selector', :data => { :map => @map.id}}

          .input-group-button
            = link_to edit_map_layer_path(@map,@layer), :class => 'button secondary', :title => 'Edit this layer' do
              %i.fi-pencil.fi-24
      - else
        = link_to new_map_layer_path(@map), :class => 'button info' do
          %i.fi-plus
          Create a layer for this map


  .grid-x
    .cell.medium-12
      = simple_form_for :addresslookup, url: '', html: { method: :get, :id => 'addresslookup' } do |f|
        .input-group
          .input-group-label
            = link_to map_layer_places_path(@map,@layer), :title => "Show all places for this layer" do
              <svg version="1.1" id="icons-places" class="icons" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><path d="M56.5,23.9c-2.4-3.5-6.1-6-10.5-7.1c-4.2-1.1-8.4-0.7-11.9,0.8c-1.3-0.7-2.8-1.3-4.4-1.7l0,0c-4.3-1.1-8.8-0.7-12.6,1.1c-3.9,1.9-6.5,5.1-7.6,9c-1.4,5.4,0.8,11,5.2,14.8c-0.1,3,0.8,6,2.6,8.7c2.4,3.5,6.1,6,10.5,7.1c1.6,0.4,3.2,0.6,4.8,0.6c7.2,0,13.6-4.2,15.3-10.7c0.1-0.3,0.2-0.7,0.2-1c1-0.3,1.9-0.6,2.8-1.1c3.9-1.9,6.5-5.1,7.5-9C59.8,31.6,59,27.5,56.5,23.9zM15.5,37.2c-2.7-2.9-3.9-6.7-2.9-10.4c0.8-3,2.9-5.5,5.9-7c2-1,4.1-1.4,6.4-1.4c1.4,0,2.7,0.2,4.1,0.5c0.7,0.2,1.3,0.4,1.9,0.6c-2.4,1.8-4.3,4.4-5.1,7.4c-0.1,0.3-0.2,0.7-0.2,1c-1,0.3-1.9,0.6-2.8,1.1C19.3,30.8,16.7,33.7,15.5,37.2z M45.2,45.8c-1.6,6.3-9,9.8-16.4,7.9c-3.6-0.9-6.7-3-8.7-5.9c-1.9-2.8-2.6-6-1.8-9c0.8-3,2.9-5.5,5.9-7c2-1,4.1-1.4,6.4-1.4c1.4,0,2.7,0.2,4.1,0.5l0,0C42.1,32.8,46.8,39.5,45.2,45.8z M55.8,34.7c-0.8,3-2.9,5.5-5.9,7c-0.4,0.2-0.9,0.4-1.3,0.6c-0.5-6.4-5.7-12.4-13.1-14.3c-2.2-0.6-4.4-0.7-6.5-0.6c1.5-4.9,6.5-8.1,12.2-8.1c1.3,0,2.7,0.2,4.1,0.5c3.6,0.9,6.7,3,8.7,5.9C55.9,28.5,56.6,31.7,55.8,34.7z"/></svg>

          = f.input :address, :label => false, :placeholder => 'Add place: Name, Street + Number...', input_html: {:class => "address-lookup-field input-group-field", :data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}" }}
          .input-group-button
            %button{:id => 'addresslookup_button', :class => 'button secondary', :title => 'Lookup for address'}
              %i.fi-magnifying-glass.fi-24
              %i.fi-fast-forward.fi-24.hide

        - if params[:remap]
          #selection-hint
            %p
              Type an address or double-click on the map to change the location of
              =link_to edit_map_layer_place_path(@map,@layer,@place) do
                #{@place.title}


        - else
          #selection-hint
            %p
              How to map: Search an address with the field above or double-click anywhere on the map to create a place.
  .grid-x
    .cell.medium-12
      #filter-wrapper.grid-x
        .cell.medium-12   
          %button.button.secondary.small#info-wrapper-button{type: "button", "data-toggle": "filter-wrapper-content"}
            %i.fi-magnifying-glass.fi-18
            %i.fi-italic.fi-24
            %i.fi-filter.fi-18  
 
          %div#filter-wrapper-content.grid-x{"data-toggler": ".expanded"}
            %button.close-button{type: "button", "data-toggle": "filter-wrapper-content"}
              %span{"aria-hidden": "true"}
                &times;            
            .cell.medium-12
              .header
                %h5 
                  Search 
                  - if @layer.places.all_tags.count > 0
                    \& filter
              = render 'layers/partials/search', object: @map      

            .cell.medium-12 
              - if @layer.places.all_tags.count > 0
                .cell.medium-12 
                  %div.tags
                    %h5.hide Tags

                    - all_tags_count = 0
                    - @places.all_tags.each do |tag|
                      - all_tags_count = @places.all_tags.count
                      
                      - count = @places.tagged_with(["#{tag.name}"]).count
                      - max_count = @places.all_tags.map { |tag| @places.tagged_with(tag.name).count }.max
                      - count_threshold = 1
                      - count_threshold = (max_count * 0.1).ceil
                      - next if all_tags_count > 5 && count <= count_threshold && params[:show_tags] != 'all'
                      %span.label.secondary.tag{class: "#{params[:filter]&.split(',')&.include?(tag.name) ? 'active' : ''}", id: "tag-#{tag.id}", "data-tag-id" => tag.id}
                        = link_to map_layer_path(@map, @layer, filter: (params[:filter] ? (params[:filter].split(',').include?(tag.name) ? (params[:filter].split(',') - [tag.name]).join(',') : "#{params[:filter]},#{tag.name}") : tag.name), search: @search) do
                          %i.fi-price-tag
                          = tag.name
                          (#{count})
                      

                    - if ( params[:filter] && !params[:filter].empty? )
                      %span.label.secondary.tag 
                        = link_to map_layer_path(@map, @layer, search: @search), {title: 'Show all places'} do
                          %i.fi-x      
                          All places
                    - if all_tags_count > 5
                      - if params[:show_tags] != 'all'
                        = link_to map_layer_path(@map, @layer, filter: params[:filter], search: @search, show_tags: 'all'), {title: 'Show all tags'} do
                          %strong{style: 'font-size: 23px; line-height: 1; padding-left: 3px'}
                            \»
                      - else
                        = link_to map_layer_path(@map, @layer, filter: params[:filter], search: @search, show_tags: ''), {title: 'Show all tags'} do
                          %strong{style: 'font-size: 23px; line-height: 1; padding-left: 3px'}
                            \« 
              - if ( params[:filter] && !params[:filter].empty? ) || ( @search )
                %hr
                - if @places && @places.count > 0          
                  %p
                    - if @search
                      - if params[:filter] && !params[:filter].empty? 
                        Searching places with #{@tag_names.count > 0 ? 'tags' : 'tag'} <tt>"#{@tag_names.join(', ')}"</tt>
                      - else
                        Searching all places 
                      for <tt>"#{@search}"</tt>
                    - elsif params[:filter] && !params[:filter].empty? 
                      Filtering with #{@tag_names.count > 0 ? 'tags' : 'tag'} "#{@tag_names.join(', ')}"

                    \— #{@places.count}&nbsp;#{@places.count == 1 ? 'place' : 'places'} found
                - else  
                  No places found
                = render 'maps/partials/places_list'
                - if @places && @places.count > 0
                  %hr
                  %p
                    = link_to map_path(@map, tag: @tag_name, search: @search), class: 'button small' do
                      %i.fi-magnifying-glass.fi-21
                      Search/filter in all layers of this map
                    %br


