
- locale = params[:locale].presence || nil
- if locale
  - audios = Audio.where(locale: "#{locale}").where(audioable_type: 'Place', audioable_id: @place.id)
- else
  - audios = Audio.where(audioable_type: 'Place', audioable_id: @place.id)  
= locale
- if audios&.count > 0
  %hr
  %p
    Audios:
  .grid-x

    - audios.order('sorting ASC').each_with_index do |audio,i|
      .audio.ui-state-default{id: "audio_#{audio.id}"}
        .audio-toolbar
          = link_to map_layer_place_audio_path(@place.layer.map,@place.layer,@place,audio), class: "button button-right button-show tiny", title: 'See details'  do
            %i.fi-eye
          = link_to edit_map_layer_place_audio_path(@place.layer.map,@place.layer,@place,audio,params[:locale] ? {locale: params[:locale]} : {}), class: "button button-right button-edit tiny", title: 'Edit audio'  do


            %i.fi-pencil
        - if audio.file.attached?
          = audio_tag url_for(audio.file), controls: true
          %p
            = audio.title
            %br
            %small
              (#{audio.file.filename}, #{number_to_human_size(audio.file.byte_size)}, #{audio.file.content_type}, #{audio.locale})
        - else
          = link_to edit_map_layer_place_audio_path(@place.layer.map,@place.layer,@place,audio), class: "thumbnail" do
            %p
              Oups, audio file is missing.
              %br
              Please click here to upload an audio file.
