- images = Image.where(place_id: @place.id)
- if images.count > 0
  %p
    Images
  .grid-x#sortable{data: { map: @place.layer.map.id, layer: @place.layer.id, place: @place.id }}
    - images.order('sorting ASC').each_with_index do |img,i|
      .image.ui-state-default{id: "image_#{img.id}"}
        .image-toolbar
          = link_to map_layer_place_path(@place.layer.map,@place.layer,@place), class: 'button button-right tiny sortable_handle', title: 'Change sort order' do
            %i.fi-arrows-out
          = link_to map_layer_place_image_path(@place.layer.map,@place.layer,@place,img), class: "button button-right button-show tiny", title: 'Show details'  do
            %i.fi-eye
          = link_to edit_map_layer_place_image_path(@place.layer.map,@place.layer,@place,img), class: "button button-right button-edit tiny", title: 'Edit/change image'  do
            %i.fi-pencil
        - if img.file.attached? && ActiveStorage::Blob.service.exist?(img.file.blob.key)
          - klass = 'thumbnail'
          - if img.preview.present?
            - klass = 'thumbnail thumbnail-preview'
          = link_to map_layer_place_image_path(@place.layer.map,@place.layer,@place,img), class: "#{klass}" do
            - if img.place.layer.rasterize_images  && img.itype == 'image'
              = image_tag img.variant(resize: "400x400", "ordered-dither": "h4x4a").processed
            - else
              = image_tag img.variant(resize: "400x400").processed
        - else
          = link_to edit_map_layer_place_image_path(@place.layer.map,@place.layer,@place,img), class: "thumbnail" do
            %p
              Oups, image file is missing!
              %br
              Please click here to upload a new file.
        %small
          = img.title      