= simple_form_for(@annotation) do |f|
  = f.association :place, as: :hidden, :input_html => { :value => @annotation.place_id }
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-3.cell
      &nbsp;
    .large-6.medium-12.cell
      .form-inputs
        = f.input :title
        = tinymce
        = f.input :text, :input_html => {:rows => 8, class: 'large-text tinymce' }
        = f.association :person, collection: @map.people, include_blank: true
        %p.hint Who is speaking here?
        = f.input :source
        %p.hint Where this annotation come from?
        = f.input :tag_list, input_html: { class: 'tags', multiple: "multiple",  placeholder: 'Type a tag or select from list' }, collection: @annotations.all_tags, value_method: :name, label: 'Tags'
        %p.hint What tags can describe this annotation?
        %hr
        %label Audio
        - if @annotation.audio && @annotation.audio.attached?
          %p
            = link_to rails_blob_path(@annotation.audio, disposition: 'attachment') do
              = @annotation.audio.filename
          %p.shy Upload a new file:
        = f.input :audio, as: :file, label: false, required: false, accept: 'audio/mpeg'
        %p.hint Please upload MP3 only
      .form-actions
        = f.button :submit, :class => "button"
    .large-3.cell
      &nbsp;