= simple_form_for(@annotation) do |f|
  = f.association :place, as: :hidden, :input_html => { :value => @annotation.place_id }
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-3.cell
      &nbsp;
    .large-6.medium-12.cell
      .form-inputs
        = f.input :title
        = f.input :text, :input_html => {:rows => 8, class: 'large-text tinymce' }
        = f.association :person, collection: Person.all, include_blank: true
        %p.hint Who is speaking here?
        = f.input :source
        %p.hint Where this annotation come from?
        = f.input :tag_list, input_html: { class: 'tags', multiple: "multiple",  placeholder: 'Type a tag or select from list' }, collection: @annotations.all_tags, value_method: :name, label: 'Tags'
      .form-actions
        = f.button :submit, :class => "button"
    .large-3.cell
      &nbsp;