
= simple_form_for [:admin, @admin_group], as: :admin_group do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-12.medium-12.cell
      .form-inputs
        = f.input :title
      .form-inputs
        %hr
        = f.input :active
        %p.hint
          Only user of an active group can login. Otherwise just the message above is displayed.
        %hr
        = tinymce
        = f.input :message, label: "Message for non-active groups", :input_html => {:rows => 12, class: 'large-text tinymce' }
        %hr
      .form-actions
        = f.button :submit, :class => "button"
