- content_for(:title) { "User groups" }

#table-wrapper
  %p.text-right.close_link_wrapper
    =link_to settings_path, :class=>'close_link' do
      %i.fi.fi-x
  %p.small
    %a{:href => settings_path, :title => 'Settings'}
      %i.fi-widget.fi-21
      Settings
  %h1 Groups

  %table
    %thead
      %tr
        %th Title
        %th Users
        %th Maps
        %th
        %th

    %tbody
      - @admin_groups.each do |group|
        %tr
          %td
            - if group.active
              = group.title
            - else
              #{group.title}&nbsp;<i class="fi-prohibited fi-21"></i>
          %td
            - if group.users.count > 0
              %ul
                - group.users.each do |user|
                  %li=user.email

            - else
              No users defined yet
          %td
            - if group.maps.count > 0
              %ul
                - group.maps.each do |map|
                  %li=map.title

            - else
              %p
                = link_to maps_path do
                  No maps defined yet

          %td
            = link_to edit_admin_group_path(group), :class => 'button' do
              %i.fi.fi-pencil
              Edit
          %td
            - if group.maps.count == 0 && !group.active
              = link_to admin_group_path(group), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button warning' do
                %i.fi.fi-x
                Destroy

  %br

  = link_to new_admin_group_path, :class => "button secondary" do
    %i.fi.fi-plus
    New Group
