
= simple_form_for [:admin, @admin_user], as: :admin_user do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
      %ul
        - @admin_user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.input :email
  %p
    = f.label :role
    = f.select :role, Ability.role_symbols, include_blank: false
    %span.shy Admins can edit/add User
  %p
    = f.association :group, collection: @groups, include_blank: false
    - if admin?
      %span.shy Admins group can see all maps, all other groups are only allowed to see their groups

  %p.actions
    = f.submit 'Save', :class => 'button'
