%h1 Listing icons

%table
  %thead
    %tr
      %th Title
      %th Image
      %th Iconset
      %th
      %th
      %th

  %tbody
    - @icons.each do |icon|
      %tr
        %td= icon.title
        %td= icon.image
        %td= icon.iconset
        %td= link_to 'Show', iconset_icon_path(@iconset,icon)
        %td= link_to 'Edit', edit_iconset_icon_path(@iconset,icon)
        %td= link_to 'Destroy', iconset_icon_path(@iconset,icon), method: :delete, data: { confirm: 'Are you sure?' }


