#form-wrapper.large-wrapper
  %h1 Submission configuration

  %table
    %thead
      %tr
        %th Title intro
        %th Subtitle intro
        %th Intro
        %th Title outro
        %th Outro
        %th Start time
        %th End time
        %th Use city only
        %th
        %th
        %th

    %tbody
      - @submission_configs.each do |submission_config|
        %tr
          %td= submission_config.title_intro
          %td= submission_config.subtitle_intro
          %td= submission_config.intro
          %td= submission_config.title_outro
          %td= submission_config.outro
          %td= submission_config.start_time
          %td= submission_config.end_time
          %td= submission_config.use_city_only
          %td= link_to 'Show', submission_config, class: 'button'
          %td= link_to 'Edit', edit_submission_config_path(submission_config), class: 'button'
          %td= link_to 'Destroy', submission_config, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
