= simple_form_for([@map,@layer,@place,@image]) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
      = f.association :place, as: :hidden, :input_html => { :value => @place.id }

  .grid-x
    .large-2.cell
      &nbsp;
    .large-8.medium-12.cell
      .form-inputs
        = f.input :title
        %hr
        .grid-x.grid-padding-x
          .large-6.medium-6.cell
            = f.input :file, as: :file, input_html: { accept: ('image'), multiple: false }, label: "Image (JPG, GIF or PNG)"
            - if @image.place.layer.exif_remove
              %p.shy
                %i.fi.fi-check
                All EXIF metadata will be removed
            - if @image.place.layer.rasterize_images
              %p.shy
                %i.fi.fi-check
                Image will be published in a rasterized version
            - if params[:action] == 'edit' && @image.file.attached?
              = link_to url_for(@image.file) do
                - if @image.place.layer.rasterize_images && @image.itype == 'image'
                  %p.show_for_itype_image= image_tag @image.variant(resize: "500x500", "ordered-dither": "h8x8a").processed
                  %p.show_for_itype_graphics.hide= image_tag @image.variant(resize: "500x500").processed
                - else
                  %p.show_for_itype_graphics= image_tag @image.variant(resize: "500x500").processed
                  %p.show_for_itype_image.hide= image_tag @image.variant(resize: "500x500", "ordered-dither": "h8x8a").processed
            %p.shy
              Please check that your Image is not larger than 2000px
          .large-6.medium-6.cell
            .grid-x.grid-padding-x
              .large-7.medium-7.cell
                #switch.switch.inline
                  %label Preview?
                  %input{:name=>"image[preview]", :class => "switch-input", :id => "image_preview", :type => "checkbox", :checked => @image.preview }
                  %label.switch-paddle{:for=>"image_preview"}
                    %span.show-for-sr
                      Preview
                    %span.switch-active{:aria-hidden=>"true"} Preview
                    %span.switch-inactive{:aria-hidden=>"true"} Preview
                %p.shy Show this image in the popup and in listings?
              .large-5.medium-5.cell
                = f.input :sorting, size: 4
                %p.shy Sorting order (1-99)
            .grid-x.grid-padding-x
              .medium-12
                %hr
                  %label Type
                  = f.input :itype, :collection => itype_for_select, include_blank: false, label: false, :selected => @image.itype
                  %p.shy Please select if this image is a graphics (like a logo or a faksimile)



        %hr
        .grid-x.grid-padding-x
          .large-6.medium-6.cell
            = f.input :creator
            %p.shy Who is the creator (photographer, designer,...) of this image?
            = f.input :licence
            %p.shy Under which licence the image is and/or shall be published? (CC, Public Domain, Rights reserved)
            = f.input :source
            %p.shy Origin of this image
          .large-6.medium-6.cell
            = f.input :alt, label: "Alternate Text"
            %p.shy Please provide a short description for screenreader

            = f.input :caption
            %p.shy Do you want to add a caption?


      .form-actions
        = f.button :submit, :class => "button"
    .large-2.cell
      &nbsp;