= simple_form_for(@image) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
      = f.association :place, as: :hidden, :input_html => { :value => @place.id }

  .grid-x
    .large-2.cell
      &nbsp;
    .large-8.medium-12.cell
      .form-inputs
        = f.input :title
        %hr
        .grid-x.grid-padding-x
          .large-6.medium-6.cell
            = f.input :file, as: :file, input_html: { accept: ('image'), multiple: false }, label: "Image (JPG, GIF or PNG)"
            - if params[:action] == 'edit' && @image.file.attached? 
              - # = image_tag @image.variant(resize_to_limit: [100, 100]).processed
              = link_to url_for(@image.file) do
                = image_tag url_for(@image.file)
            %p.shy
              Please check that your Image is not larger than 2000px
          .large-6.medium-6.cell
            = f.input :preview
            %p.shy Show this image in the popup and in listings
            = f.input :alt, label: "Alternate Text"
            %p.shy Please provide a short description for screenreader


        %hr
        .grid-x.grid-padding-x
          .large-6.medium-6.cell
            = f.input :creator
            %p.shy Who is the creator (photographer, designer,...) of this image?
            = f.input :licence
            %p.shy Under which licence the image is and/or shall be published? (CC, Public Domain, Rights reserved)
            = f.input :source
            %p.shy Origin of this image
          .large-6.medium-6.cell
            = f.input :caption
            %p.shy Do you want to add a caption?
            = f.input :sorting

      .form-actions
        = f.button :submit, :class => "button"
    .large-2.cell
      &nbsp;