#form-wrapper
	%h1 Editing image
	%p 
		Edit this image for 

		%strong
			#{@place.layer.map.title}
		\>
		%strong
			#{@place.layer.title}
		\>
		%strong
			#{@place.title}

	= render 'form'
  
	= link_to map_layer_place_image_path(@place.layer.map,@place.layer,@place,@image), class: "button"  do
		Show
	&nbsp;
	= link_to edit_map_layer_place_path(@place.layer.map,@place.layer,@place), class: "button"  do
		Back to place  
