#form-wrapper
	%h1 Editing image
	%p 
		Edit this image for 

		%strong
			#{@place.layer.map.title}
		\>
		%strong
			#{@place.layer.title}
		\>
		%strong
			#{@place.title}

	= render 'form'

	= link_to 'Show', @image
	\|
	= link_to 'Back', images_path	
