#form-wrapper
	%h1 Editing image
	%p
		Edit this image for

		- if @page
			%strong
				#{@page.map.title}
			\>
			%strong
				#{@page.title}
		- else	
			%strong
				#{@place.layer.map.title}
			\>
			%strong
				#{@place.layer.title}
			\>
			%strong
				#{@place.title}

	- if @page
		= render 'form_for_pages'
	- else
		= render 'form_for_places'

	%hr
	.grid-x.grid-padding-x



		.large-6.cell
			- if @page
				= link_to edit_map_page_path(@page.map,@page), class: "button"  do
					Back to page
			- else
				= link_to edit_map_layer_place_path(@place.layer.map,@place.layer,@place), class: "button"  do
					Back to place
		.large-6.cell
			%p.text-right
				- if @page
					= link_to map_page_image_path(@page.map,@page,@image), method: :delete, data: { confirm: 'Are you sure to delete this image?' }, :class => 'button warning' do
						%i.fi.fi-trash
						Delete
				- else
					= link_to map_layer_place_image_path(@place.layer.map,@place.layer,@place,@image), method: :delete, data: { confirm: 'Are you sure to delete this image?' }, :class => 'button warning' do		
						%i.fi.fi-trash
						Delete	

