#form-wrapper
	%h1 New image

	%p 
		Add an image for 

		- if @page
			%strong
				#{@page.map.title}

			\>
			%strong
				#{@page.title}
		- else
			%strong
				#{@place.layer.map.title}
			\>
			%strong
				#{@place.layer.title}
			\>
			%strong
				#{@place.title}

	- if @page
		= render 'form_for_pages'
	- else 
		= render 'form_for_places'
	
	- if @page
		= link_to 'Back to page', map_page_path(params[:locale],@page.map,@page), class: 'button secondary'
	- else 
		= link_to 'Back to place', edit_map_layer_place_path(@place.layer.map,@place.layer,@place), class: 'button secondary'
