#form-wrapper
  %p#notice= notice
  %p
    - if @image.file.attached? 
      = link_to url_for(@image.file) do
        = image_tag url_for(@image.file)    
    - else
      No Image
  %p
    %b Place:
    = link_to map_path(@image.place.layer.map) do
      = @image.place.layer.map.title
    \>
    = link_to map_layer_path(@image.place.layer.map,@image.place.layer) do
      = @image.place.layer.title
    \>
    = link_to map_layer_place_path(@image.place.layer.map,@image.place.layer,@image.place)  do
      = @image.place.title

  - if @image.title
    %h3= @image.title
  %p
    %b Alt:
    = @image.alt
  %p
    - if @image.caption.present?
      %b Caption:
      = @image.caption
  %p
    %b Source:
    = link_to @image.source do
      = @image.source
  %p
    %b Creator:
    = @image.creator
    %b Licence:
    = @image.licence    
  %p
    - if @image.sorting
      %b Sorting:
      = @image.sorting
    - if @image.preview
      %b Preview:
      %i.fi-star.fi-24

  = link_to edit_map_layer_place_image_path(@place.layer.map,@place.layer,@place,@image), class: "button"  do
    %i.fi.fi-pencil
    Edit
  &nbsp;
  = link_to edit_map_layer_place_path(@place.layer.map,@place.layer,@place), class: "button"  do
    Back to place  
