#table-wrapper

	%h1 Asset stats
	%p Assets overview during transition
	%h3 Place > images
	%p Images as direct relation to Place
	%p 
		Places: #{@places.count}
		%br
		Places with Images: #{@places_images.count}
	%table
		- @places.each do |p|
			- if p.images.attached? 
				%tr
					%td{colspan: 2}
						%h3
							= p.id
							= p.title
				%tr
					%td{colspan: 2}
						Altes Format für Bilder
				- p.images.each do |img|
					%tr
						%td
							- begin
								= link_to url_for(img) do
									= image_tag img.variant(resize: "120x120").processed
							- rescue Errno::ENOENT
								- # skip
								%tt File not found
						%td
							%tt= img.filename
							= link_to 'Remove', delete_image_attachment_map_layer_place_url(p.layer.map.id, p.layer.id, p.id, signed_id:  img.signed_id),
                method: :delete,
                data: { confirm: 'Are you sure?' }						
				- images = Image.where(place_id: p.id)
				%tr
					%td{colspan: 2}
						- if images.count > 0
							Neues Format für Bilder
					- images.each do |image|
						%tr
							%td
								- begin
									= link_to map_layer_place_image_path(image.place.layer.map,image.place.layer,image.place,image) do
										= image_tag image.file.variant(resize: "300x300").processed
								- rescue Errno::ENOENT
									%tt File not found	
							%td
								- if image.preview
									%i.fi.fi-star
								= link_to map_layer_place_image_path(image.place.layer.map,image.place.layer,image.place,image) do
									%tt= image.file.filename
								= link_to map_layer_place_image_path(image.place.layer.map,image.place.layer,image.place,image), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button warning' do
									%i.fi.fi-x
									Delete								
				%tr
					%td{colspan: 2}
						= link_to new_map_layer_place_image_path(p.layer.map,p.layer,p), class: 'button' do
							%i.fi.fi-plus
							Bild im neuen Format hinzufügen				