#table-wrapper

	%h1 Asset stats
	%p Assets overview during transition
	%h3 Place > images
	%p Images as direct relation to Place
	%p 
		Places: #{@places.count}
		%br
		Places with Images: #{@places_images.count}
	%table
		- @places.each do |p|
			- if p.images.attached? 
				%tr
					%td{colspan: 2}
						%h3
							= p.id
							= p.title
				%tr
					%td{colspan: 2}
						Altes Format für Bilder
				- p.images.each do |img|
					%tr
						%td
							- begin
								= link_to url_for(img) do
									= image_tag img.variant(resize: "120x120").processed
							- rescue Errno::ENOENT
								- # skip
								%tt File not found
						%td
							%tt= img.filename
				- images = Image.where(place_id: p.id)
				%tr
					%td{colspan: 2}
						- if images.count > 0
							Neues Format für Bilder
					- images.each do |i|
						%tr
							%td
								- begin
									= link_to image_path(i) do
										= image_tag i.file.variant(resize: "300x300").processed
								- rescue Errno::ENOENT
									%tt File not found	
							%td
								- if i.preview
									%i.fi.fi-star
								= link_to image_path(i) do
									%tt= i.file.filename
								= link_to i, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button warning' do
									%i.fi.fi-x
									Delete								
				%tr
					%td{colspan: 2}
						= link_to new_image_path(place_id: p.id), class: 'button' do
							%i.fi.fi-plus
							Bild im neuen Format hinzufügen				