= simple_form_for([@map,@layer,@place]) do |f|

  .grid-x.grid-padding-x
    .large-12.medium-12.cell
      %h1 Place
  .grid-x.grid-padding-x
    .large-4.medium-6.cell
      .grid-x
        .small-4.cell
          %p Publish?
        .small-8.cell
          .switch
            %input{:name=>"place[published]", :class => "switch-input", :id => "place_published", :type => "checkbox" }
            %label.switch-paddle{:for=>"place_published"}
              %span.show-for-sr
                Publish
              %span.switch-active{:aria-hidden=>"true"} Yes
              %span.switch-inactive{:aria-hidden=>"true"} No
          %p.shy This publishes this place on the public map!

    .large-8.medium-6.cell
      %p
        - if @place.layer.title
          %span.name Layer:
          = @place.layer.title
          = f.association :layer, as: :hidden
        - else
          = f.association :layer
      %p
        %span.name Coordinates:
        #{@place.lat[0..6]}/#{@place.lon[0..6]}
        = f.input :lat, as: :hidden
        = f.input :lon, as: :hidden

  .grid-x.grid-padding-x
    .large-12.cell
      = f.error_notification
      = f.input :title

  .grid-x.grid-padding-x
    .large-6.medium-12.cell
      .form-inputs
        = f.input :teaser, :input_html => {:rows => 4, :label => 'Text', class: 'large-text'}
        = f.input :startdate
        = f.input :enddate


    .large-6.medium-12.cell
      .form-inputs
        %hr
        = f.input :location, :input_html => {:placeholder => 'Name' }
        = f.input :address, :input_html => {:placeholder => 'Street + Number' }
        .grid-x.grid-padding-x
          .small-4.cell
            = f.input :zip
          .small-8.cell
            = f.input :city
        %hr
        = f.input :link, :placeholder => 'http://'
        - #= f.input :country
  .grid-x.grid-padding-x
    .large-12.cell
      .form-actions
        = f.button :submit, :class => "button"