= simple_form_for([@map,@layer,@place]) do |f|
  .grid-x.grid-padding-x
    .large-2.medium-3.cell
      %h1 Place
    .large-4.medium-4.cell
      %div#layer_change
        - if @place.layer.title && params[:action] == 'new'
          %p.inline
            = link_to map_url(@place.layer.map) do
              = @place.layer.map.title
            \>
            = link_to map_layer_url(@place.layer.map,@place.layer) do
              = @place.layer.title
            = f.association :layer, as: :hidden
        - else
          %div.inline#layer_selector.hide
            = f.association :layer, :collection => @place.layer.map.layers, :label_method => :title, :value_method => :id, label: false, include_blank: 'Select layer:'
            %span#layer_display_cancel{:title => "Cancel" }
              %i.fi.fi-x.fi-13

          %div.inline#layer_display
            = link_to map_url(@place.layer.map) do
              = @place.layer.map.title
            \>
            = link_to map_layer_url(@place.layer.map,@place.layer) do
              = @place.layer.title
            %a{href: '', title: 'Move this place to another layer', id: 'move_to_layer'}
              %i.fi.fi-pencil.fi-13
      %p.clear.hint.text-left
        %span.name Address
        - if @old_place
          = @old_place.full_address
          \->
        = @place.full_address
        = @place.city
        %br
        %span.name Coordinates
        - if @old_place
          #{@old_place.lat[0..4]}/#{@old_place.lon[0..4]}
          \-->
        - if @place.lat && @place.lon
          #{@place.lat[0..4]}/#{@place.lon[0..4]}
          %a{href: '', title: 'Edit coordinates', id: 'edit_coordinates'}
            %i.fi.fi-pencil.fi-13
          %a{href: '', title: 'Edit coordinates', id: 'edit_coordinates_cancel'}
            %i.fi.fi-x.fi-13
        = f.input :lat, as: :hidden, label: "Lat"
        = f.input :lon, as: :hidden, label: "Lon"

    .large-6.medium-5.cell
      .grid-x.grid-padding-x
        .large-4.medium-12.small-6.cell
          #switch.switch.inline
            %input{:name=>"place[published]", :class => "switch-input", :id => "place_published", :type => "checkbox", :checked => @place.published }
            %label.switch-paddle{:for=>"place_published"}
              %span.show-for-sr
                Publish
              %span.switch-active{:aria-hidden=>"true"} Publish
              %span.switch-inactive{:aria-hidden=>"true"} Publish
        .large-8.medium-12.small-6.cell
          #feature.switch.inline
            - checked = false
            - checked = true if @place.featured == true
            %input{:name=>"place[featured]", :class => "switch-input", :id => "place_featured", :type => "checkbox", :checked => checked }
            %label.switch-paddle{:for=>"place_featured"}
              %span.show-for-sr
                Feature
              %span.switch-active{:aria-hidden=>"true"} Feature
              %span.switch-inactive{:aria-hidden=>"true"} Feature
          &nbsp;
          %i.fi.fi-info{"data-tooltip"=>true, :title=>"Featured places are places that are highlighted on the map and that may contain more/detailed informations then other places on the same layer."}
      - if params[:action] == 'edit'
        .grid-x.grid-padding-x
          .large-4.medium-12.small-5.cell
            %p#remap.clear
              = link_to map_layer_path(@place.layer.map,@place.layer,remap: true, place_id: @place.id), :class =>"button small", title: "Reposition this place on the map" do
                %strong
                  %i.fi.fi-map
                  RE-MAP
              &nbsp;
              %i.fi.fi-info{"data-tooltip"=>true, :title=>"With this function you can re-position this entry on the map. Click the button and then click on the map, where you would like to set as the correct place"}
          .large-8.medium-12.small-7.cell
            %p#remap
              = link_to add_new_entry_link(@place), :class =>"button small", title: "Add another entry to the exact same place" do
                %strong
                  %i.fi.fi-plus
                  Add another entry
              &nbsp;
              %i.fi.fi-info{"data-tooltip"=>true, :title=>"With this function you can add another entry to the exact same place or location. "}
  .grid-x.grid-padding-x
    .large-12.cell
      = f.error_notification
      - if @place.errors.full_messages.present?
        %ul.hide
          = @place.errors.full_messages.each do |item,msg|
            %li= item

      = f.input :title

  .grid-x.grid-padding-x
    .large-6.medium-6.cell
      .form-inputs
        .grid-x
          .large-6.medium-6.small-7.cell
            = f.input :startdate, as: :hidden
            = f.label :startdate_data do
              Start date
              %i.fi.fi-info{"data-tooltip"=>true, :title=>"If you just want to define the year, like \"1995\", type in the date 1.1.1995"}
            = f.input :startdate_date, as: :date, html5: true, :label => false
          .large-6.medium-6.small-5.cell
            = f.input :startdate_time, as: :time, html5: true, :label => 'Start time', :input_html => {:size => 5, class: 'input-time'}
        .grid-x
          .large-6.medium-6.small-7.cell
            = f.input :enddate, as: :hidden
            = f.label :enddate_data do
              End date
              %i.fi.fi-info{"data-tooltip"=>true, :title=>"If you just want to define the year, like \"1995\", type in the date 1.1.1995"}
            = f.input :enddate_date, as: :date, html5: true, :label => false
          .large-6.medium-6.small-5.cell
            = f.input :enddate_time, as: :time, html5: true, :label => 'End time', :input_html => {:size => 5, class: 'input-time'}

        = tinymce
        = f.input :teaser, :label => 'Text', :input_html => {:rows => 8, class: 'large-text tinymce' }
        %hr
        = f.input :tag_list, input_html: { class: 'tags', multiple: "multiple",  placeholder: 'Type a tag or select from list' }, collection: @map.places.all_tags, value_method: :name, label: 'Tags'
        %p.hint.text-left
          To add a tag, just type the tag into the field and hit return.
          %br
          You can add multiple tags.
          If you start typing you will see most used tags as a proposal
        - if @map.iconset
          %hr
          = link_to iconset_path(@map.iconset) do
            = @map.iconset.title
          = f.association :icon, :collection => @map.iconset.icons, :label_method => lambda { |icon| ("#{icon.title}".html_safe) if icon.title }, :value_method => :id, label: false, include_blank: true
          %p.hint Select one item from list
        - if @place.submissions.count > 0
          = render 'places/list/submissions'
        %hr
        = render 'places/list/annotations'
        %hr.show-for-small-only
    .large-6.medium-6.cell
      .form-inputs
        = f.input :location, :label => 'Name of Location', :input_html => {:placeholder => 'Name' }
        %p.hint Needed only, if the name is different to the title
        %hr
        = f.input :address, :input_html => {:placeholder => 'Street + Number' }
        .grid-x.grid-padding-x
          .small-4.cell
            = f.input :zip
          .small-8.cell
            = f.input :city
        = f.input :country, :input_html => {:placeholder => 'Land' }
        = f.input :link, :label => 'Weblink', :placeholder => 'https://'
        %p.hint Does this place (or location) has a website?
        %hr
        - if params[:action] == 'edit'
          %label Images
          = link_to new_map_layer_place_image_path(@place.layer.map,@place.layer,@place), class: 'button' do
            %i.fi.fi-plus
            Add image
          %p.hint
            Please upload one image and describe its content and metadata. You can repeat this to add multiple images to this place.
        - else
          %p.hint.text-left
            You have to create this place before you can add images
        = render 'places/form/images'
        %hr
        - if params[:action] == 'edit'
          %label Videos
          = link_to new_map_layer_place_video_path(@place.layer.map,@place.layer,@place), class: 'button' do
            %i.fi.fi-plus
            Add video
          %p.hint
            Please upload one video and describe its content and metadata. You can repeat this to add multiple videos to this place.
        = render 'places/form/videos'
        %hr
        %label Audio
        - if @place.audio && @place.audio.attached?
          %p
            = link_to rails_blob_path(@place.audio, disposition: 'attachment') do
              = @place.audio.filename
          %p.shy Upload a new file:
        = f.input :audio, as: :file, label: false, required: false, accept: 'audio/mpeg'
        %p.hint Please upload MP3 only
        %hr
        - if admin?
          = f.input :shy, label: "Don't show this place on the map level (with all layers)"
          %p.hint This option is useful, if have the same place on several layers. Define all but one of those places as shy to hide them on the map level"
  %hr
  .grid-x
    .large-6.medium-6.small-12.cell
      .form-actions.text-right
        = f.button :submit, :class => "button"
