- content_for(:title) { "Places of #{@layer.title}" }


#table-wrapper
  %p.text-right.close_link_wrapper
    = link_to map_layer_url(@map,@layer), :class=>"close-link", "aria-label"=>"Close back" do
      %span{"aria-hidden"=>"true"}
        %i.fi.fi-x
  %h1
    = link_to map_path(@layer.map) do
      = @layer.map.title
    —
    = link_to map_layer_path(@layer.map,@layer) do
      = @layer.title
    (#{@places.count})

  %p.text-right.hint
    See also:
    %br
    = link_to annotations_map_layer_path(@map,@layer) do
      Annotations (about Places)
  %p.text-right.hint
    = link_to relations_map_layer_path(@map,@layer) do
      Relations (between places)
  %p
    &nbsp;
  %table
    %thead
      %tr
        %th Place
        %th
          &nbsp;

    %tbody
      - @places.sort_by{ |e| e.startdate.nil? ? Date.new : e.startdate }.each do |place|
        %tr
          %td
            = smart_date_display(place.startdate, place.enddate)
            %p.show-for-small-only
              = smart_date_display(place.startdate, place.enddate)
            - images = Image.preview(place.id)
            - if images.count > 0
              - images.each do |img|
                - begin
                  - if img.attached?
                    %p
                      = image_tag img.variant(resize: "120x120").processed, class: "thumbnail", title: img.title
                      %br
                      %small.nowrap
                        #{img.title}
                        - if img.alt.present?
                          %i.fi-info{title: img.alt}
                - rescue
                  %p.shy Image could not be loaded
            %h4
              = link_to map_layer_place_path(place.layer.map,place.layer,place) do
                = place.title
              - if place.published
                %i.fi-eye.fi-21{title: 'Published'}
              - else
                %i.fi-lock.fi-21{title: 'Not published'}
              - if place.featured
                %i.fi-star.fi-21{title: 'Feature'}
            %p
              = link_to place.link do
                = place.link
            %p
              = place.location
              %br
              = place.address
              %br
              = place.zip
              = place.city

            - if place.annotations && place.annotations.count > 0
              %p
                = link_to map_layer_place_path(place.layer.map,place.layer,place) do
                  #{place.annotations.count} Annotations
            - if place.tags
              %p
                - place.tags.each do |tag|
                  %span.label.secondary.tag
                    = link_to map_tag_path(@map,tag) do
                      %i.fi-price-tag
                      = tag.name
            %p.hint.text-left
              - if place.lat
                #{place.lat[0..6]}/#{place.lon[0..5]}
          %td
            = link_to edit_map_layer_place_path(place.layer.map,place.layer,place), :class => "button" do
              %i.fi-pencil.fi-21
              Edit
            %br
            - images = Image.where(place_id: place.id)
            - if images.count > 0
              %i.fi-photo.fi-21
              = images.count
              Images
              %br
            - videos = Video.where(place_id: place.id)
            - if videos.count > 0
              %i.fi-projection-screen.fi-21
              = videos.count
              Videos
              %br
            = link_to new_map_layer_place_image_path(place.layer.map,place.layer,place), :class => "button" do
              %i.fi-plus.fi-21
              Image
            = link_to new_map_layer_place_image_path(place.layer.map,place.layer,place), :class => "button" do
              %i.fi-plus.fi-21
              Video
            %br
            - if place.images.count > 0 || place.videos.count > 0
              - warning = 'Are you sure to delete this place and all attached images and/or videos?'
            - else
              - warning = 'Are you sure to delete this place?'
            = link_to map_layer_place_path(place.layer.map,place.layer,place), method: :delete, data: { confirm:warning }, :class => "button warning" do
              %i.fi-trash.fi-21
              Destroy
