- content_for(:title) { "Places of #{@layer.title}" }


#table-wrapper
  %p.text-right.close_link_wrapper
    = link_to map_layer_url(@map,@layer), :class=>"close-link", "aria-label"=>"Close back" do
      %span{"aria-hidden"=>"true"}
        %i.fi.fi-x
  %h3
    = link_to map_path(@layer.map) do
      = @layer.map.title
    \:
    = link_to map_layer_path(@layer.map,@layer) do
      = @layer.title
    (#{@places.count})


  %table
    %thead
      %tr
        %th.show-for-medium Date
        %th Place
        %th.show-for-large
          %i.fi-eye.fi-24
        %th
          &nbsp;

    %tbody
      - @places.order(:startdate).each do |place|
        %tr
          %td.show-for-medium
            = smart_date_display(place.startdate, place.enddate)
          %td
            %p.show-for-small-only
              = smart_date_display(place.startdate, place.enddate)
            - images = Image.preview(place.id)
            - if images.count > 0
              - images.each do |img|
                = image_tag img.variant(resize: "120x120").processed, class: "thumbnail"
            %h4
              = link_to map_layer_place_path(place.layer.map,place.layer,place) do
                = place.title
            %p
              = link_to place.link do
                = place.link
            %p
              = place.location
              %br
              = place.address
              %br
              = place.zip
              = place.city

            - if place.tags
              %p
                - place.tags.each do |tag|
                  %span.label.secondary.tag
                    = link_to map_tag_path(@map,tag) do
                      %i.fi-price-tag
                      = tag.name
            %p.hint.text-left
              - if place.lat
                #{place.lat[0..6]}/#{place.lon[0..5]}

          %td.show-for-large
            - if place.published
              %i.fi-check.fi-21
            - else
              %i.fi-lock.fi-21
          %td
            = link_to edit_map_layer_place_path(place.layer.map,place.layer,place), :class => "button" do
              %i.fi-pencil.fi-21
              Edit
            %br
            - images = Image.where(place_id: place.id)
            - if images.count > 0
              %i.fi-photo.fi-21
              = images.count
              Images
            = link_to new_map_layer_place_image_path(place.layer.map,place.layer,place), :class => "button" do
              %i.fi-plus.fi-21
              Images
            %br
            = link_to map_layer_place_path(place.layer.map,place.layer,place), method: :delete, data: { confirm: 'Are you sure?' }, :class => "button warning" do
              %i.fi-trash.fi-21
              Destroy
