
#table-wraper
  %h1
    = link_to map_path(@layer.map) do
      = @layer.map.title
    \>
    = link_to map_layer_path(@layer.map,@layer) do
      = @layer.title


  %table
    %thead
      %tr
        %th Title/Link
        %th Startdate
        %th Enddate
        %th Location
        %th Address
        %th Zip/City
        %th Layer
        %th Published
        %th
        %th

    %tbody
      - @places.each do |place|
        %tr
          %td
            %h4= place.title
            %p= place.link
          %td= place.startdate
          %td= place.enddate
          %td= place.location
          %td= place.address
          %td
            = place.zip
            = place.city
          %td= place.layer.title
          %td
            - if place.published
              %i.fi-check.fi-24
            - else
              %i.fi-x.fi-24
          %td= link_to 'Edit', edit_map_layer_place_path(place.layer.map,place.layer,place)
          %td= link_to 'Destroy',  map_layer_place_path(place.layer.map,place.layer,place), method: :delete, data: { confirm: 'Are you sure?' }