
#form-wrapper.large-wrapper{:data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}/places/#{@place.id}.json", 'map_id' => "#{@map.id}", 'layer_id' => "#{@layer.id}", 'lat' => @place.lat, 'lon' => @place.lon, 'action' => 'new' }}
  = link_to map_layer_url(@map,@layer), :class=>"close-button small", "aria-label"=>"Close back",:type=>"button" do
    %span{"aria-hidden"=>"true"}
      %i.fi.fi-x.fi-30
  = render 'form'
