
#info-wrapper{:data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}/places/#{@place.id}.json", 'map_id' => "#{@map.id}" }}

  %p.text-right.close_link_wrapper
    = link_to map_layer_url(@map,@layer), :class=>"close-link", "aria-label"=>"Close back" do
      %span{"aria-hidden"=>"true"}
        %i.fi.fi-x
  %p#notice= notice

  .grid-x.grid-padding-x
    .cell.small-4.medium-4
      - images = Image.where(place_id: @place.id)
      - if images.count > 0
        %p
          - images.each do |img|
            - if img.preview.present?
              = link_to map_layer_place_image_path(@place.layer.map,@place.layer,@place,img), class: "thumbnail thumbnail-preview" do
                = image_tag img.file.variant(resize: "300x300").processed
            - else
              = link_to map_layer_place_image_path(@place.layer.map,@place.layer,@place,img), class: 'thumbnail' do
                = image_tag img.file.variant(resize: "300x300").processed

    .cell.small-8.medium-8
      %p.hint.text-left
        = link_to map_url(@place.layer.map) do
          = @place.layer.map.title
        \>
        = link_to map_layer_url(@place.layer.map,@place.layer) do
          = @place.layer.title

      %p.date
        = smart_date_display(@place.startdate, @place.enddate)
      %h1
        = @place.title
        = link_to edit_map_layer_place_path(@place.layer.map,@place.layer,@place.id) do
          %i.fi.fi-pencil.fi-24
      %p
        %strong
          =h @place.teaser.html_safe
      %p
        =h @place.text
      %p
        - if @place.link
          =link_to @place.link do
            = @place.link
      - if @place.audio.attached?
        %p
          = audio_tag rails_blob_url(@place.audio), autoplay: true, controls: true
          = link_to @place.audio.filename, rails_blob_path(@place.audio, disposition: "attachment")
      %p
        #{@place.location} #{@place.address}, #{@place.zip} #{@place.city}
      - if @place.tag_list
        #{@place.tag_list}
      %p.hint.text-left
        %b Coordinates:
        #{@place.lat[0..5]}, #{@place.lon[0..5]}
        %b Published:
        - if @place.published
          %i.fi-check.fi-18
        - else
          %i.fi-lock.fi-18
        \|
        %b Last edit:
        = l(@place.updated_at)
