
#info-wrapper
  %p#notice= notice


  %p.hint.text-left
    = link_to map_url(@place.layer.map) do
      = @place.layer.map.title
    \>
    = link_to map_layer_url(@place.layer.map,@place.layer) do
      = @place.layer.title

  %h1
    = @place.title
    = link_to edit_map_layer_place_path(@place.layer.map,@place.layer,@place.id) do
      %i.fi.fi-pencil.fi-24
  %p
    %strong
      = @place.teaser.html_safe
  %p
    =h @place.text
  %p
    - if @place.link
      =link_to @place.link do
        @place.link
  %p
    = @place.startdate
    - if @place.enddate
      = @place.enddate
  %p
    = @place.location
    = @place.address

    = @place.zip
    \/
    = @place.city
    = @place.country
    \(#{@place.lat[0..5]}/#{@place.lon[0..5]})
  %p.hint
    %b Published:
    = @place.published
    %b Last edit:
    = @place.updated_at
