.top-bar
  .top-bar-left
    %ul.menu.show-for-medium
      %li.name
        = link_to root_path do
          #{Settings.app_name}
          <svg version="1.1" id="icons-map" class="icons icons-small" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><path d="M54.4,21.3c-0.1-0.6-0.4-1.1-0.9-1.3l-13.6-6.7c0,0,0,0,0,0c-0.1-0.1-0.2-0.1-0.4-0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.4,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0l-13.8,6l-12.3-6.4c-0.5-0.3-1.2-0.2-1.7,0.1c-0.5,0.4-0.8,1-0.7,1.6l3.5,32.3c0.1,0.6,0.4,1,0.9,1.3L27.2,55c0,0,0,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0l0,0c0,0,0,0,0.1,0l13.7-6.1l13.2,6.4c0.3,0.1,0.5,0.2,0.8,0.2c0.3,0,0.6-0.1,0.9-0.3c0.5-0.4,0.7-0.9,0.7-1.6L54.4,21.3z M16.8,45.5l-3.1-28.3l9.4,4.9L26,50.5L16.8,45.5z M29.3,51l-2.9-28.8l11.3-5L40.7,46L29.3,51z M44,45.9l-2.9-28.4l10.1,5L54.3,51L44,45.9z"/></svg>
          - if Rails.env == 'staging' || Rails.env == 'development'
            (#{Rails.env})

      - if user_signed_in?
        - if admin?
          %li.hide
            %a{:href => iconsets_path}
              %i.fi-marker
              %span.show-for-large
                Iconsets
    %ul.menu.show-for-small-only
      %li.name
        = link_to root_path do
          #{Settings.app_shortname}
          <svg version="1.1" id="icons-map" class="icons icons-small" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 68 68" style="enable-background:new 0 0 68 68;" xml:space="preserve"><path d="M54.4,21.3c-0.1-0.6-0.4-1.1-0.9-1.3l-13.6-6.7c0,0,0,0,0,0c-0.1-0.1-0.2-0.1-0.4-0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.4,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0l-13.8,6l-12.3-6.4c-0.5-0.3-1.2-0.2-1.7,0.1c-0.5,0.4-0.8,1-0.7,1.6l3.5,32.3c0.1,0.6,0.4,1,0.9,1.3L27.2,55c0,0,0,0,0.1,0c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0l0,0c0,0,0,0,0.1,0l13.7-6.1l13.2,6.4c0.3,0.1,0.5,0.2,0.8,0.2c0.3,0,0.6-0.1,0.9-0.3c0.5-0.4,0.7-0.9,0.7-1.6L54.4,21.3z M16.8,45.5l-3.1-28.3l9.4,4.9L26,50.5L16.8,45.5z M29.3,51l-2.9-28.8l11.3-5L40.7,46L29.3,51z M44,45.9l-2.9-28.4l10.1,5L54.3,51L44,45.9z"/></svg>
  .top-bar-right
    %ul.menu.text-right
      %li
        - if @map && ( params[:action] == 'show' || params[:action] == 'index' )
          = render 'layers/searchform', object: @map
      %li
        = link_to info_path, {title: 'About this project'} do
          %i.fi-info.fi-21
      - if user_signed_in?
        - maptogo_flag = 'false'
        - if @map && @map.enable_map_to_go
          - maptogo_flag = 'true'
        %li
          %a{:href => settings_path, :title => 'Settings', id: "settings_caller", "data-maptogo": maptogo_flag }
            %i.fi-widget.fi-21
            %span.show-for-large
              Settings
        %li.show-for-medium-up
          = link_to destroy_user_session_path, method: :delete, :id => 'logout', :title => "#{t('.sign_out')}", :class=>'button logout' do
            %i.fi-power.fi-21
      - else
        %li
          = link_to new_user_session_path, :id => 'login' do
            = t(".sign_in")

- if @map && @map.enable_map_to_go
  .top-bar.action-bar.hide
    .action-bar-left
      &nbsp;
    .action-bar-center
      - if @map && @layer
        - layer_url = url_for public_map_layer_url(@map,@layer, format: 'json')

        - preview_url = '#'
        - if @map.preview_url.present?
          - preview_url = @map.preview_url + '?layer=' + layer_url
          %a{href: preview_url, class: 'button small hide action-button', id: 'livepreview_button'}
            %i.fi-eye.fi-21
            Preview
        - else
          %a{href: preview_url, class: 'button small hide action-button disabled', id: 'livepreview_button', disabled: 'disabled'}
            %i.fi-eye.fi-21
            Preview
        &nbsp;

      %a{class: 'button small hide action-button', id: 'maptogo_button'}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 1a5 5 0 0 1 5 5v2h3a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3V6a5 5 0 0 1 5-5zm5 10h-2v1a1 1 0 0 0 1.993.117L17 12v-1zm-8 0H7v1a1 1 0 0 0 1.993.117L9 12v-1zm3-8a3 3 0 0 0-2.995 2.824L9 6v2h6V6a3 3 0 0 0-2.824-2.995L12 3z"/></svg>
        Map To Go
    .action-bar-right
      %a{:href => settings_path, :title => 'Settings'}
        %i.fi-widget.fi-21
        %span.small.show-for-medium-up
          My Settings