.top-bar
  .top-bar-left
    %ul.menu.show-for-medium
      %li.name
        = link_to root_path do
          #{Settings.app_name}
          %span.orte-icons-maps
      %li
        = link_to info_path do
          %i.fi-info.fi-21
          %span.show-for-large
            Info
      - if user_signed_in?
        - if admin?
          %li
            %a{:href => maps_path}
              %i.fi-map.fi-21
              %span.show-for-large
                Maps
          %li.hide
            %a{:href => iconsets_path}
              %i.fi-marker
              %span.show-for-large
                Iconsets
    %ul.menu.show-for-small-only
      %li.name= link_to "#{Settings.app_shortname}", root_path
      %li
        = link_to info_path do
          %i.fi-info.fi-21
  .top-bar-right
    %ul.menu.text-right
      - if user_signed_in?
        %li
          %a{:href => edit_profile_path, :title => 'Edit your profile'}
            %i.fi-torso.fi-21
            %span.show-for-large
              Profil

        - if admin?
          %li
            %a{:href => admin_groups_path, :title => 'Manage Groups'}
              %i.fi-torsos.fi-21
              %span.show-for-large
                Groups
          %li
            %a{:href => admin_users_path, :title => 'Manage Users'}
              %i.fi-torsos-all.fi-21
              %span.show-for-large
                Users

        %li.show-for-medium-up
          = link_to destroy_user_session_path, method: :delete, :id => 'logout', :title => "#{t('.sign_out')}", :class=>'button logout' do
            %i.fi-power.fi-21
      - else
        %li
          = link_to new_user_session_path, :id => 'login' do
            = t(".sign_in")
