= link_to root_url, class: 'shy' do
  = Settings.app_name
%span.show-for-medium
  \&mdash;
  = link_to Settings.github_url, target: '_blank', class: 'shy' do
    v#{Settings.app_version}
%span.show-for-large.small
  = Settings.app_tagline
  = "#{DEPLOY_REVISION}@#{Rails.env[0..2]} (#{I18n.l DEPLOY_DATE})"
